/* Importa las fuentes si prefieres tenerlas aquí en lugar de en el HTML */
/*
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
*/

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

.open-modal-button {
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.open-modal-button:hover {
    background-color: #0056b3;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Se queda fijo en la pantalla */
    z-index: 1000; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Permite scroll si el contenido es muy largo */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal-content-wrapper {
    background-color: #fefefe;
    margin: 5%; /* 5% desde arriba/abajo y centrado horizontalmente */
    /* padding: 20px;  */
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    max-width: 900px; /* Ancho máximo */
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-iframe-content {
    width: 100%;
    height: 80vh; /* Altura del iframe, ajustable */
    border: none;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}